!!!
html(ng-app="myApp")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://localhost:35729/livereload.js')
		script(src='components/angular/angular.js')
		script(src='javascripts/app.js')
		script(src='javascripts/services.js')
		script(src='javascripts/controllers.js')
		script(src='javascripts/filters.js')
		script(src='javascripts/directives.js')
		script(src='/socket.io/socket.io.js')
		script(src='components/angular-socket-io/socket.js')
	body
		block content
